---
layout: layouts/default.edge
---
    @include('partials/author-header')

    <section class="post-feed">
        @if(author.posts)
            @each((post, index) in author.posts)
                @!component('components/card', { post: post, eager: index === 0 })
            @end
        @else
            <p>No posts to be found</p>
        @end
    </section>
