{% extends 'layouts/default.njk' %}

{% block content %}
	<article class="content page-{{ slug }}">
		<h1 class="text-4xl font-bold">{{ title }}</h1>
		<div class="text-gray-500 uppercase text-sm">{{ date | postDate }}</div>
		{% if feature_image %}
			<figure class="post-feature-image">
				<img src="{{ feature_image }}" alt="{{ title }}">
			</figure>
		{% endif %}
		<section class="content-body">
			{{ content | safe }}
		</section>
		<div id="disqus_thread"></div>
		<script>

		var disqus_config = function () {
		this.page.url = "{{ site.url + page.url }}";
		this.page.identifier = "ghost-{{ id }}";
		};
		(function() {
		var d = document, s = d.createElement("script");
		s.src = "https://{{ site.disqus_id }}.disqus.com/embed.js";
		s.setAttribute("data-timestamp", + new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</article>
{% endblock %}

{%- block seo -%}
	<!--Twitter Card-->
	<meta name="twitter:site" content="{{ site.twitter }}">
	<meta name="twitter:creator" content="{{ site.twitter }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="{{ site.url + page.url }}">
	<meta name="twitter:title" content="{{ title }} – {{ site.title }}">
	<meta name="twitter:description" content="{{ description }}">
	<meta name="twitter:image" content="{{ site.url + feature_image }}">

	<!--Schema-->
	<link rel="author" href="{{ site.author.url }}">
	<link rel="publisher" href="{{ site.url }}">
	<meta itemprop="name" content="{{ title }} – {{ site.title }}">
	<meta itemprop="description" content="{{ description }}">
	<meta itemprop="image" content="{{ site.url + feature_image }}">

	<!-- Facebook OpenGraph -->
	<meta property="og:url" content="{{ site.url + page.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ title }} – {{ site.title }}">
	<meta property="og:image" content="{{ site.url + feature_image }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:locale" content="{{ site.lang }}">
	<meta property="article:author" content="{{ site.url }}">
{%- endblock -%}
