@import "./fonts.css";
@import "../../../node_modules/prismjs/themes/prism-okaidia.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.link-link {
		@apply flex flex-wrap gap-x-0 gap-y-2 justify-center px-2 py-4 text-center items-center border-2 border-blue-400 bg-blue-50 mx-auto min-w-[18rem] rounded-md !no-underline
	}

	.link-link svg {
		@apply block w-6 h-6
	}
  }

/* purgecss start ignore */

body {
	font-size: 18px;
	line-height: 1.7;
}

code[class*="language-"],
pre[class*="language-"] {
	@apply font-mono;
}

#menu-toggle:checked+#menu {
	display: block;
}

.post-list {
	.post {
		@apply mb-16;
	}
	.post-date {
		@apply text-gray-500 uppercase text-sm;
	}
	.post-title {
		@apply text-3xl font-medium;
	}
	.post-feature-image {
		@apply h-auto;
	}
	.post-description {
		@apply text-lg;
	}
}

.content-body {
	h2 {
		@apply text-3xl font-bold mt-6 mb-2;
	}
	h3 {
		@apply text-2xl font-bold mt-4 mb-2;
	}
	h4 {
		@apply text-xl font-bold mt-4 mb-2;
	}
	p, pre {
		@apply mb-8;
	}
	a {
		@apply text-blue-500 underline;
	}
	ul {
		@apply list-disc ml-8 mb-8 list-outside;
	}
	ol {
		@apply list-decimal ml-8 mb-8 list-outside;
	}
	table {
		@apply table-auto w-full;
		thead {
			tr {
				th {
					@apply p-2 text-left;
				}
			}
		}
		tbody {
			tr {
				td {
					@apply p-2 border-b-2;
				}
				&:nth-of-type(even) {
					td {
						@apply bg-gray-200;
					}
				}
			}
		}
	}
	blockquote {
		@apply p-4 bg-gray-200 text-lg border-l-4 border-gray-600 mb-8;
	}
	blockquote p:last-child {
		@apply mb-0;
	}
	pre {
		@apply overflow-auto font-mono;
	}
	:not(pre)>code {
		@apply bg-gray-200 p-1;
	}
	.kg-card {
		@apply mb-8;
		figcaption {
			@apply text-center text-sm;
		}
	}
}

.content .post-feature-image {
	@apply mb-8;
}

.kg-gallery-row {
	@apply flex;
	.kg-gallery-image {
		@apply p-2;
	}
}

.kg-image-card.sketchnote {
	img {
		@apply p-2;
		border: 1px solid #ccc;
	}
}

/* Page-specific styles */

.page-portfolio .content-body img {
	max-width: 300px;
}

/* purgecss end ignore */

