---
pagination:
  data: collections.authors
  size: 1
  alias: 'author'
  addAllPagesToCollections: true
layout: 'layouts/author.edge'
permalink: '{{ author.url }}'
---

@if(author.bio)
{{{ author.bio }}}
@else
Bio not found
@end
