{% macro card(post) %}
	<div class="mb-12">
		<a class="" href="{{ post.url }}">
			<header class="">
				<div class="text-gray-500 uppercase text-sm">{{ post.published_at.toLocaleDateString(undefined, {year: "numeric", month: "long", day: "numeric" }) }}</div>
				<h2 class="text-3xl font-medium">
					{{ post.title }}
				</h2>
				{% if post.feature_image %}
					<img class="w-full h-auto my-2" src="{{ post.feature_image }}" alt="{{ post.title }}">
				{% endif %}
			</header>
			<div class="">
				<p>{{ post.excerpt }}</p>
			</div>
		</a>
	</div>
{% endmacro %}
