{% macro card(post) %}
	<div class="post">
		<a class="" href="{{ post.url }}">
			<div class="grid grid-cols-1 lg:grid-cols-2">
				{% if post.data.feature_image %}
					<img class="mb-2 lg:mb-0" src="{{ post.data.feature_image }}" alt="{{ post.data.title }}">
				{% endif %}
				<div class="lg:pl-4">
					<div class="post-date hidden">{{ post.data.date | postDate }}</div>
					<h2 class="post-title">
						{{ post.data.title }}
					</h2>
					<div class="">
						{{ post.data.description }}
					</div>
					<div class="mt-2">
						<a class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" href="{{ post.url }}">Read more...</a>
					</div>
				</div>
			</div>
		</a>
	</div>
{% endmacro %}
