<footer class="text-gray-500 uppercase text-sm m-4 p-4 text-center">
  <div class="p-2">
    {{ site.title }}
    &copy; 2010 -
    {% currentYear %}
    David Neal
  </div>
  <div class="">Powered by
    <a class="underline" href="https://www.11ty.dev/">11ty</a>
    |
    <a class="underline" href="https://github.com/reverentgeek/blog">Source Code</a>
  </div>
</footer>