{% from "partials/icon.njk" import icon %}

{% if page.url != "/shop/" %}
  <div class="text-white px-6 py-4 border-0 relative mb-4 bg-blue-500 text-center">
    <a class="inline-block align-middle mr-8" href="/shop/">
      Want me to draw something for you?
      <b>Click here!</b>
    </a>
  </div>
{% endif %}

<header class="px-6 py-2 bg-white flex flex-wrap items-center lg:px-16">
  {% if page.url == "/" %}
    {% include "partials/navigation.njk" %}
    <div class="pb-4 w-full">
      <img class="w-full" src="{{ site.cover_image }}" alt="Site banner image with a collage of illustrations and doodles. The center image is the ReverentGeek logo with a speech bubble that reads, you don't need permission to be awesome.">
    </div>
  {% else %}
    <div class="flex flex-1 items-start">
      <a class="" {% if page.url == "/" %} aria-current="page" {% endif %} href="{{ site.url }}">
        <img class="object-left object-scale-down h-10 lg:h-12 mr-2" src="{{ site.logo }}" alt="{{ site.title }}">
      </a>
    </div>
    {% include "partials/navigation.njk" %}
  {% endif %}
</header>