---
pagination:
  data: collections.topics
  size: 1
  alias: topic
  addAllPagesToCollections: true
layout: layouts/default.edge
permalink: '{{ topic.url }}'
eleventyComputed:
  title: '{{ topic.label }}'
  description: 'Every ReverentGeek post about {{ topic.label }}.'
---
<h1 class="text-4xl font-bold mt-4 mb-2">{{ topic.label }}</h1>
<p class="text-gray-600 mb-8">
  {{ topic.count }} {{ topic.count === 1 ? 'post' : 'posts' }} &middot;
  <a class="underline text-blue-600" href="/topics/">all topics</a>
</p>

<section class="post-list">
  @each((post, index) in topic.posts)
    @!component('components/card', { post: post, eager: index === 0 })
  @end
</section>
