---
permalink: 404.html
layout: layouts/default.edge
title: Error 404
---

    <article class="content text-center">
        <h1 class="text-3xl font-medium">Oh Noes!</h1>
		<figure class="post-feature-image">
			<img src="/content/images/404.jpg" alt="404 oh noes!">
		</figure>
		<section class="content-body">
			<p><a href="/">Return home</a> to start over!</p>
		</section>
    </article>
