---
permalink: 404.html
---

{% extends 'layouts/default.njk' %}

{% set codeinjection_head = doc.codeinjection_head %}
{% set codeinjection_foot = doc.codeinjection_foot %}

{% set title = "Error 404" %}

{% block content %}
    <article class="content text-center">
        <h1 class="text-3xl font-medium">Oh Noes!</h1>
		<figure class="post-feature-image">
			<img src="/content/images/404.jpg" alt="404 oh noes!">
		</figure>
		<section class="content-body">
			<p><a href="/">Return home</a> to start over!</p>
		</section>
    </article>
{% endblock %}
