---
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Home" %}

{% block content %}
    <section class="">
        {% for post in posts %}
			{{ card(post) }}
        {% endfor %}
    </section>

    {% include "partials/pagination.njk" %}
{% endblock%}
