---
title: Home
layout: layouts/default.edge
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
---

    <section class="post-list">
        @each((post, index) in posts)
			@!component('components/card', { post: post, eager: index === 0 && pagination.pageNumber === 0 })
        @end
    </section>

    @include('partials/pagination')
